//
   Created by jusk2 on 2017-01-03.

doctype
html
    head
        meta(charset='utf8')
    body
        h1 Created By Seong Won JavaScript
        ul
            each topic in topics
                li
                    a(href=' /topic/'+topic)= topic