//
   Created by jusk2 on 2017-01-09.

doctype html
<form action="/login" method="post">

<h1> Welcome Seong Won Homepage

    <p><h4><ul> Login Please...
    <p> <input type="text" name="username" placeholder="username">
    <p> <input type="text" name="password" placeholder="password">
    <p> <input type="submit">
</form>