doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title 성원
        meta(name='description', content='An interactive getting started guide for Brackets.')
        link(rel='stylesheet', href='/css/main.css')
    body
        h1 GETTING STARTED JavaScript
        h1 안녕하세요!!
        //
          MADE WITH <3 AND JAVASCRIPT
        p
            | 자바스크립트, NodeJS, HTML로 만든 간단한 홈페이지 입니다.
        p

        h3 Wisoft 연구실 막내 이성원
        p
            | 한밭대학교 정보통신공학과 3학년 재학

        samp
            | <li>자료구조, 자바, 자바스크립트를 Wisoft 연구실에서 배우고 있습니다.</li>
            | <li>한밭이글스로 활동중이며, 각종 드론경진대회에 출전한 경험이 있습니다.</li>
            | <li>네트워크와 가상화, 인공지능에 많은 관심이 있습니다.</li>
            | <li>After Effect를 통한 학교 홍보영상 제작</li>

        h3 활동내역
        p
            | <li> SAMSUNG IoT Innovation Challenge

        a(href='http://www.samsungsemiconstory.com/1320')
            img(alt='Samsung ARTIK Challenge', src='http://cfile21.uf.tistory.com/image/263F0F3F57F5A04A2ADEA9')
        p
            | < 사진을 클릭하면 홈페이지로 이동합니다. >
        p
            | 삼성전자와 한국전자정보통신산업진흥회와 함께한 IoT Innovation Challenge 참가를 통해 드론과 IOT, 클라우드연동을 실현함.

        p
            | <li> IT융합인력양성사업단 학교 홍보영상 제작
        p
            <object width="760" height="500"><param name="movie" value="http://www.youtube.com/v/UsPC0ARKv4I?version=2&showinfo=0&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/UsPC0ARKv4I?version=2&showinfo=0&rel=0" type="application/x-shockwave-flash" width="760" height="500" allowscriptaccess="always" allowfullscreen="true"></embed></object>
        p
            | 한밭대학교 RC페스티벌을 위해 '팬텀3 Advanced'로 항공촬영 후 홍보영상 제작
        p
            | <li> 충청 아이디어 빅리그
        a(href='https://pr.hanbat.ac.kr/cyber2012/page/sub2_3view.php?code_id=3&b_index=5216&gotopage=1&sub1=')
            img(alt='ideaBig', src='https://pr.hanbat.ac.kr/upload/image/20161014160533.jpg')
        p
            | 한밭대는 창업아이디어 부문에서 ‘Connecting팀(정보통신공학과 이성원 외 2명)’이 ‘자율주행이 가능한 통신 드론’으로 최우수상 수상

        h3 강원도의 아들!!
        p
            | 나의 고향 강원도 영월군 주천면을 소개합니다.
        p
            <object width="760" height="500"><param name="movie" value="http://www.youtube.com/v/ns46AS455uM?version=2&showinfo=0&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/ns46AS455uM?version=2&showinfo=0&rel=0" type="application/x-shockwave-flash" width="760" height="500" allowscriptaccess="always" allowfullscreen="true"></embed></object>
        p
        h2 항상 노력하겠습니다.
        p
            | 처음 만드는 홈페이지라 많이 부족하지만 더 열심히 해서 꾸준히 성장할 수 있도록 하겠습니다.
        p
            | 2017.01.10. Wisoft JavaScript & NodeJS Seminar 이성원 올림.
        ul
            li
                a(href='https://www.facebook.com/seongwon0667?ref=bookmarks') 성원 페이스북
            li
                a(href='https://www.youtube.com/channel/UCHaBoyQ5BuPqMybTPedFWvA') 성원 유투브
            li
                a(href='https://github.com/pandora0667') 성원 GitHub
            li
                a(href='http://www.anewsa.com/detail.php?number=1075585&thread=09r02') 충청 아이디어 빅리그 링크
            li
                a(href='http://jusk2.iptime.org:5000/webman/index.cgi') 성원 NAS
                ul
                    | NAS계정 생성은 직접 연락주시길 바랍니다.
