//
   Created by jusk2 on 2017-01-03.

doctype
html
    body
        meta(charset='utf=8')
    head
        form(action = 'form_receiver' method = 'post')
            p
                input(type='txt' name = 'title')
            p
                textarea(name = 'description')
            p
                input(type='submit');