//
   Created by jusk2 on 2017-01-03.

html
    head
        title = _title
    body
        h1 Hello SeongWon
        ul
            -for(var i=0; i<5; i++)
                li coding
        div = time
